<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>AIStuder</header>
      <form action="#">
        <input type="text" placeholder="Enter your email or username">
        <input type="password" placeholder="Enter your password">
        <a href="#">Забыли пароль?</a>
        <input type="button" class="button" value="Войти">
      </form>
      <div class="signup">
        <span class="signup">У вас нет аккаунта?
         <label for="check">Зарегистрироваться</label>
        </span>
      </div>
    </div>
    <div class="registration form">
      <header>AIStuder</header>
      <form action="#">
        <input type="text" placeholder="Enter your email">
        <input type="password" placeholder="Create a password">
        <input type="password" placeholder="Confirm your password">
        <input type="button" class="button" value="Регистрация">
      </form>
      <div class="signup">
        <span class="signup">Уже есть аккаунт?
         <label for="check">Войти</label>
        </span>
      </div>
    </div>
  </div>
</body>
</html>